<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans.xsd
    		http://www.springframework.org/schema/tx
       		http://www.springframework.org/schema/tx/spring-tx.xsd
       		http://www.springframework.org/schema/context
     		http://www.springframework.org/schema/context/spring-context.xsd
     		"
	default-autowire="byName">

	<!-- <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" 
		/> -->

	<bean id="masterDataSource" class="com.alibaba.druid.pool.DruidDataSource"
		init-method="init" destroy-method="close">
		<property name="url" value="jdbc:MySql://127.0.0.1:3306/frame_test?seUnicode=true&amp;autoReconnect=true&amp;rewriteBatchedStatements=TRUE" />
		<property name="username" value="root" />
		<property name="password" value="123456" />
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />

		<property name="filters" value="stat" />
		<property name="maxActive" value="50" />
		<property name="initialSize" value="4" />
		<property name="maxWait" value="60000" />
		<property name="minIdle" value="4" />

		<property name="timeBetweenEvictionRunsMillis">
			<value>60000</value>
		</property>
		<property name="minEvictableIdleTimeMillis">
			<value>300000</value>
		</property>

		<property name="testWhileIdle">
			<value>true</value>
		</property>
		<property name="testOnBorrow">
			<value>false</value>
		</property>
		<property name="testOnReturn">
			<value>false</value>
		</property>

		<property name="poolPreparedStatements">
			<value>false</value>
		</property>
		<property name="maxOpenPreparedStatements">
			<value>-1</value>
		</property>
	</bean>
	<!-- twitter 主键生成算法： 雪花算法 -->
	<bean id="idSnowflake" class="com.hu.wxky.frame.dao.id.IdCreatorSnowflake">
		<constructor-arg index="0" value="1" />
		<constructor-arg index="1" value="1" />
	</bean>
	<!-- uuid -->
	<bean id="idUuid" class="com.hu.wxky.frame.dao.id.IdCreatorUuid" />
	<!-- 配置事务管理器 -->

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="masterDataSource" />
	</bean>

</beans>
 