<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%5p] [%d{MM-dd HH:mm:ss SSS}] (%F:%L) %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="Encoding" value="UTF-8"/>
        <param name="File" value="frame-test.log"/> <!-- 日志路径，根据实际情况修改 -->
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%5p] [%d{MM-dd HH:mm:ss SSS}] (%F:%L) %m%n"/>
        </layout>
    </appender>
    <category name="com.hu.wxky.frame" additivity="false">  <!-- 自定义的日志分类，请根据实际情况调整 -->
        <priority value="TRACE"/>      <!-- 根据实际情况修改日志级别，一般线上是INFO以上 -->
       <appender-ref ref="CONSOLE"/>
    </category>
	
    <root>
        <priority value="INFO"/> 
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>